/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6/10/2017, 10:25:07 AM
    Author     : OEM
*/
*{
    box-sizing: border-box;
}
#main-wrap {
    padding: 0 40px 0 40px;
}
#main-wrap #bottom-wrap {
  z-index: 2;
  position: relative;
  background-color: #fff;
}

/* line 1558, ../scss/style.scss */
#main-wrap #bottom-wrap #works .filters {
  margin-bottom: 50px;
  padding-left: 15px;
  display: block;
}
/* line 1562, ../scss/style.scss */
#main-wrap #bottom-wrap #works .filters li {
  display: inline-block;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: 41px;
  font-weight: 100;
  text-transform: uppercase;
  margin-right: 25px;
  position: relative;
  color: #333;
}
@media screen and (max-width: 410px) {
  /* line 1562, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .filters li {
    font-size: 26px;
    line-height: 31px;
  }
}
/* line 1579, ../scss/style.scss */
#main-wrap #bottom-wrap #works .filters li:after {
  content: '';
  border-bottom: 1px solid #222;
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  transition: width .4s ease-out;
}
/* line 1589, ../scss/style.scss */
#main-wrap #bottom-wrap #works .filters li:hover:after {
  width: 0;
  transition: width .4s ease-in;
}
/* line 1595, ../scss/style.scss */
#main-wrap #bottom-wrap #works .filters .is-checked {
  font-weight: bold;
}
/* line 1597, ../scss/style.scss */
#main-wrap #bottom-wrap #works .filters .is-checked:after {
  border-bottom: none;
}
/* line 1603, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items {
  overflow: hidden;
}
/* line 1607, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items a:hover {
  color: #333;
}
/* line 1611, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item {
  width: 50%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  /* line 1611, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items .one-item {
    width: 100%;
  }
}
/* line 1619, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item img {
  width: 100%;
  height: auto;
  display: block;
}
/* line 1625, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item div.content {
  z-index: 4;
  position: absolute;
  bottom: -200px;
  left: 0;
  padding: 25px;
  transition: bottom 0.4s ease-out;
}
/* line 1633, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item div.content span {
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #333;
}
/* line 1641, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item div.content ul.categories {
  padding-left: 0;
  margin-bottom: 0;
}
/* line 1644, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item div.content ul.categories li {
  font-family: "Inconsolata", sans-serif;
  color: #88898c;
  display: inline-block;
  padding: 0 26px 0 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
}
/* line 1656, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-1, #main-wrap #bottom-wrap #works .works-items .one-item .line-2, #main-wrap #bottom-wrap #works .works-items .one-item .line-3, #main-wrap #bottom-wrap #works .works-items .one-item .line-4 {
  background: none;
  position: absolute;
  z-index: 3;
}
/* line 1661, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-1 i, #main-wrap #bottom-wrap #works .works-items .one-item .line-2 i, #main-wrap #bottom-wrap #works .works-items .one-item .line-3 i, #main-wrap #bottom-wrap #works .works-items .one-item .line-4 i {
  display: block;
  position: absolute;
  background-color: #333;
}
/* line 1667, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-1 {
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
/* line 1673, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-1 i {
  left: 0;
  top: 0;
  width: 0%;
  height: 100%;
  transition: width 0.4s ease-out;
}
/* line 1681, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-2 {
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
}
/* line 1687, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-2 i {
  right: 0;
  top: 0;
  width: 100%;
  height: 0;
  transition: height 0.4s ease-out;
}
/* line 1695, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-3 {
  right: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
}
/* line 1701, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-3 i {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  transition: width 0.4s ease-out;
}
/* line 1709, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-4 {
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
}
/* line 1715, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item .line-4 i {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: height 0.4s ease-out;
}
/* line 1725, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:hover .line-1 i, #main-wrap #bottom-wrap #works .works-items .one-item:hover .line-2 i, #main-wrap #bottom-wrap #works .works-items .one-item:hover .line-3 i, #main-wrap #bottom-wrap #works .works-items .one-item:hover .line-4 i {
  width: 100%;
  height: 100%;
}
/* line 1729, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:hover .line-1 i {
  transition: width 0.4s ease-out;
}
/* line 1732, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:hover .line-2 i {
  transition: height 0.4s ease-out;
}
/* line 1735, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:hover .line-3 i {
  transition: width 0.4s ease-out;
}
/* line 1738, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:hover .line-4 i {
  transition: height 0.4s ease-out;
}
/* line 1741, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:hover div.content {
  bottom: 0;
  transition: bottom 0.6s ease-in;
}
/* line 1746, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:hover:after {
  opacity: 0.8;
  transition: opacity .5s ease;
}
/* line 1752, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 2;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: opacity .5s ease;
}
/* line 1766, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item.item-video {
  position: relative;
  display: block;
  overflow: hidden;
}
/* line 1771, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item.item-video:before {
  content: "\f487";
  font-family: "Ionicons";
  position: absolute;
  display: block;
  color: white;
  font-size: 40px;
  text-align: center;
  line-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  border: 2px solid white;
  border-radius: 50%;
  line-height: 70px;
  padding-left: 5px;
  z-index: 1;
}
@media screen and (max-width: 410px) {
  /* line 1771, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items .one-item.item-video:before {
    font-size: 30px;
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}
/* line 1799, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item.item-video.dark:before {
  color: #333;
  border: 2px solid #333;
}
/* line 1803, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item.item-video.dark:hover {
  color: #333;
  text-decoration: none;
}
/* line 1808, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items .one-item.item-video:hover {
  color: white;
  text-decoration: none;
}
/* line 1815, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.border .one-item {
  width: 50%;
  width: calc(50% - 30px);
  margin-bottom: 30px;
}
@media screen and (max-width: 767px) {
  /* line 1815, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.border .one-item {
    width: 100%;
  }
}
/* line 1825, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.border.three-columns .one-item {
  width: 33.33333333%;
  width: calc(33.33333333% - 20px);
  margin-bottom: 30px;
}
@media screen and (max-width: 991px) {
  /* line 1825, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.border.three-columns .one-item {
    width: 50%;
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 767px) {
  /* line 1825, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.border.three-columns .one-item {
    width: 100%;
  }
}
/* line 1841, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.border.four-columns .one-item {
  width: 25%;
  width: calc(25% - 23px);
  margin-bottom: 30px;
}
@media screen and (max-width: 1199px) {
  /* line 1841, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.border.four-columns .one-item {
    width: 33.33333333%;
    width: calc(33.33333333% - 20px);
  }
}
@media screen and (max-width: 991px) {
  /* line 1841, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.border.four-columns .one-item {
    width: 50%;
    width: calc(50% - 15px);
  }
}
@media screen and (max-width: 767px) {
  /* line 1841, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.border.four-columns .one-item {
    width: 100%;
  }
}
/* line 1863, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.equal-grid .image-bg {
  width: 50%;
  padding: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 1870, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.singles .one-item {
  width: 100%;
  margin-bottom: 50px;
}
/* line 1874, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.singles .image-bg {
  width: 100%;
  padding-top: 30%;
  min-height: 150px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 1883, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.three-columns.equal-grid .image-bg {
  width: 100%;
  padding-top: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 1889, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.three-columns .one-item {
  width: 33%;
}
@media screen and (max-width: 991px) {
  /* line 1889, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.three-columns .one-item {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  /* line 1889, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.three-columns .one-item {
    width: 100%;
  }
}
/* line 1903, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.four-columns.equal-grid .image-bg {
  width: 100%;
  padding-top: 50%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 1909, ../scss/style.scss */
#main-wrap #bottom-wrap #works .works-items.four-columns .one-item {
  width: 25%;
}
@media screen and (max-width: 1199px) {
  /* line 1909, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.four-columns .one-item {
    width: 33.33333333%;
  }
}
@media screen and (max-width: 991px) {
  /* line 1909, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.four-columns .one-item {
    width: 50%;
  }
}
@media screen and (max-width: 767px) {
  /* line 1909, ../scss/style.scss */
  #main-wrap #bottom-wrap #works .works-items.four-columns .one-item {
    width: 100%;
  }
}
/* line 1926, ../scss/style.scss */
#main-wrap #bottom-wrap #works a.btn {
  margin-left: 0;
}